@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./preflight.scss";
@import "./style-ant.scss";
@import "./style_rich_text.scss";
@import "./horizontal-scroll.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", Helvetica, "Open Sans", sans-serif;
  scroll-behavior: smooth;
  @apply text-base;
  background-color: #f5f5f5 !important;
  // font-size: 16px !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.layout-container {
  min-height: 500px;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #6b66ff;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #6b66ff, 0 0 5px #6b66ff;
  opacity: 1;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

.icon-path-stroke-3 {
  path {
    stroke-width: 3;
  }
}

.icon-path-stroke-2 {
  path {
    stroke-width: 2;
  }
}

.skeleton-box {
  position: relative;
  overflow: hidden;
  background-color: #464661;

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(
      90deg,
      rgba(35, 35, 52, 0) 0,
      rgba(35, 35, 52, 0.2) 20%,
      rgba(35, 35, 52, 0.5) 60%,
      rgba(35, 35, 52, 0)
    );
    animation: shimmer 3s infinite;
    content: "";
  }
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

.absolute-center-x {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.management {
  @apply flex justify-center mb-14 text-base font-semibold;

  .tab {
    @apply mx-2 px-5 py-3 text-center rounded-[100px] cursor-pointer bg-[#E2E2E2] dark:bg-[#393953] dark:text-[#fafafd] text-[#555761];

    &.active {
      @apply bg-black text-white dark:bg-white dark:text-[#13172B];
    }
  }
}

input.club-checkbox:checked + div {
  @apply border-[#21C272];
}

input.club-checkbox:checked + div svg {
  @apply block;
}

.sort-list-wrapper {
  input {
    &::placeholder {
      color: #fafafd;
    }
  }
}

.icon-chart {
  position: relative;
  &::after {
    content: "";
    background-image: url("/images//logo/logo-spinel-dark.png");
    background-size: contain;
    width: 90px;
    height: 90px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.range-slider {
  .rc-slider-rail {
    @apply bg-[#393956] h-1;
  }

  .rc-slider-dot {
    @apply bg-[#393956] border-0;
    width: 3px;
    height: 18px;
    border-radius: 100px;
    bottom: -7px;
  }

  .rc-slider-mark-text {
    @apply text-black dark:text-[#fafafd] font-semibold text-sm top-1;
  }

  .rc-slider-handle {
    @apply border-[#6b66ff] w-6 h-6 border-[6px] opacity-100 text-[#6b66ff];
    margin-top: -10px;
  }

  .rc-slider-handle-dragging {
    border-color: #6b66ff !important;
    box-shadow: none !important;
  }
}

.bg-address-squad {
  background-color: rgba(23, 23, 33, 0.6) !important;
}

.border-withdraw {
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.bg-nft {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 16.49%, #000000 125%);
}

.bg-nft-item {
  background-color: rgba(128, 126, 152, 0.7);
}

//create club
.card-custom {
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.16);
}

.mantine-Stepper-stepProgress {
  color: #2b1c50;
  font-weight: 600;
}
.__mantine-ref-stepIcon {
  background-color: #eff0ff;
  color: #625df5;
  border-color: transparent;
}

.mantine-Input-disabled {
  background-color: white !important;
  color: #8f8c9c;
  border: 1px solid rgba(0, 0, 0, 0.5) !important ;
}

.mantine-almiue:not(.__mantine-ref-loading):disabled {
  background-color: #625df5;
  color: white;
  opacity: 0.3;
}

.mantine-Modal-header {
  padding-bottom: 8px;
  border-bottom: 1px solid #c1c2c5;
}

.static-page p,
.static-page ul {
  margin-bottom: 10px;
}

.static-page ul {
  list-style: disc;
  padding-left: 20px;
}

.static-page h2 {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 10px;
}

.bounty-task-activity {
  .ant-table-cell {
    background-color: transparent;

    &::before {
      display: none;
    }
  }
}

.ql-toolbar.ql-snow {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border: 1px solid #d9d9d9 !important;
}

.ql-container.ql-snow {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border: 1px solid #d9d9d9 !important;
}